
/* Page header */
.page-header {

}

/* Username float left */
.page-header-left {
  float:left;
}

/* Search form float right */
.page-header-right {
  float: right;
  padding-top: 21px;
}


#popupContainers .modal-dialog {
  width: 70%;
}

#popupImages .modal-dialog {
  width: 70%;
}

#popupConfiguration .modal-dialog {
  width: 70%;
}

#popupGithub .modal-dialog {
  width: 70%;
}
