
<!-- The container page, refer to static/js/controller -->
<div ng-controller="ContainerController">

  <span class="page-header">
    <!-- Display container title and the JSON link -->
    <h1 class="page-header-left">{{'container'|translate}} <a ng-href="/dockerapi/containers/{{container.Id}}/json" target="_blank"><img src="static/img/json-logo.png" height="32"></a></h1>

    <!-- Display search form in the right -->
    <div class="page-header-right input-group">
      <!-- If the container is running, display stop button -->
      <span ng-show="container.State.Running"><button class="btn btn-warning" ng-click="stopContainer(container.Id)">{{'stop'|translate}}</button>&nbsp;</span>
      <!-- Else display start and delete buttons -->
      <span ng-show="!container.State.Running"><button ng-show="!container.State.Running" class="btn btn-success" ng-click="startContainer(container.Id)">{{'start'|translate}}</button>&nbsp;</span>
      <span ng-show="!container.State.Running"><button ng-show="!container.State.Running" class="btn btn-danger" ng-click="deleteContainer(container.Id)">{{'delete'|translate}}</button>&nbsp;</span>
      <button class="btn btn-info" ng-click="refresh()">{{'refresh'|translate}}</button>
    </div>
  </span> <!-- End of page header -->

  <!-- Alert if we get nothing from server -->
  <div ng-show="!container" class="alert alert-danger" role="alert">{{'no_such_container'|translate}}</div>

  <!-- Display container information -->
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>{{'attribute'|translate}}</th>
        <th>{{'value'|translate}}</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>{{'id'|translate}}</td>
        <td>{{container.Id}}</td> <!-- Shorten container id -->
      </tr>

      <tr>
        <td>{{'name'|translate}}</td>
        <td>{{container.Name}}</td>
      </tr>

      <tr>
        <td>{{'image'|translate}}</td>
        <td><a ng-href="/images/{{container.Image}}">{{container.Image}}</a></td>
      </tr>

      <tr>
        <td>{{'created'|translate}}</td>
        <td>{{container.Created}}</td>
      </tr>

      <tr>
        <td>{{'running'|translate}}</td>
        <td>{{container.State.Running | boolean_to_string}}</td>
      </tr>

      <tr>
        <td>{{'startedat'|translate}}</td>
        <td>{{container.State.StartedAt}}</td>
      </tr>

      <tr>
        <td>{{'publishallports'|translate}}</td>
        <td>{{container.PublishAllPorts | boolean_to_string}}</td>
      </tr>

      <tr>
        <td>{{'links'|translate}}</td>
        <td>{{container.Links | array_to_string}}</td>
      </tr>

      <tr>
        <td>{{'openstdin'|translate}}</td>
        <td>{{container.OpenStdin | boolean_to_string}}</td>
      </tr>
    </tbody>
  </table>

  <!-- If the container is running, add a break line for the next table -->
  <br ng-show="container.State.Running"/>

  <!-- If the container is running, display its running status -->
  <table ng-show="container.State.Running" class="table table-striped table-hover">
    <thead>
      <tr>
        <th>{{'uid'|translate}}</th>
        <th>{{'pid'|translate}}</th>
        <th>{{'c'|translate}}</th>
        <th>{{'stime'|translate}}</th>
        <th>{{'tty'|translate}}</th>
        <th>{{'time'|translate}}</th>
        <th>{{'cmd'|translate}}</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="processe in top.Processes">
        <td>{{processe[0]}}</td>
        <td>{{processe[1]}}</td>
        <td>{{processe[2]}}</td>
        <td>{{processe[3]}}</td>
        <td>{{processe[4]}}</td>
        <td>{{processe[5]}}</td>
        <td>{{processe[6]}}</td>
      </tr>
    </tbody>
  </table>

</div> <!-- End of this angular page -->
