
<!-- The containers page, refer to static/js/controller -->
<div ng-controller="ContainersController">

  <span class="page-header">
    <!-- Display containers title and the JSON link -->
    <h1 class="page-header-left">{{'containers'|translate}} <a href="/dockerapi/containers/json?all=1" target="_blank"><img src="static/img/json-logo.png" height="32"></a></h1>

    <!-- Display search form in the right -->
    <div class="page-header-right">
      <input type="text" class="form-control search" placeholder="{{'search'|translate}}" ng-model="search" autofocus>
    </div>

    <!-- Display filter button in the right -->
    <div class="page-header-right btn-group filter-button">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        {{'filter'|translate}}: {{currentFilterString}} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-show="!isAllContainers"><a href="" ng-click="getAllContainers()">{{'all'|translate}}</a></li>
        <li ng-show="isAllContainers"><a href="" ng-click="getRunningContainers()">{{'running'|translate}}</a></li>
      </ul>
    </div>

  </span> <!-- End of page header -->

  <!-- Todo: No need to use <br/> -->
  <br/><br/><br/><br/>

  <!-- Alert if we get nothing from server -->
  <div ng-show="!containers.length" class="alert alert-danger" role="alert">{{'no_docker_container'|translate}}</div>

  <!-- Display all containers information -->
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>{{'id'|translate}}</th>
        <th>{{'names'|translate}}</th>
        <th>{{'image'|translate}}</th>
        <th>{{'command'|translate}}</th>
        <th>{{'created'|translate}}</th>
        <th>{{'status'|translate}}</th>
        <th>{{'operation'|translate}}</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="container in containers | filter: search track by $index">
        <td><a ng-href="/containers/{{container.Id}}">{{container.Id | limitTo:12}}</a></td> <!-- Shorten container id -->
        <td>{{container.Names | array_to_string}}</td> <!-- Add comma between names -->
        <td>{{container.Image}}</td>
        <td>{{container.Command}}</td>
        <td>{{container.Created * 1000 | date:'yyyy-MM-dd'}}</td> <!-- Full time with 'yyyy-MM-dd HH:mm:ss Z' -->
        <td>{{container.Status}}</td>
        <!-- If the container is running, display stop button -->
        <td ng-show="checkRunning(container)"><button class="btn btn-warning" ng-click="stopContainer(container.Id)">{{'stop'|translate}}</button></td>
        <!-- Else display start button -->
        <td ng-show="!checkRunning(container)"><button class="btn btn-success" ng-click="startContainer(container.Id)">{{'start'|translate}}</button></td>
        <!-- If the container is running, display nothing -->
        <td ng-show="checkRunning(container)"></td>
        <!-- Else display delete button -->
        <td ng-show="!checkRunning(container)"><button class="btn btn-danger" ng-click="deleteContainer(container.Id)">{{'delete'|translate}}</button></td>
      </tr>
    </tbody>
  </table>

</div> <!-- End of this angular page -->
