
<!-- The images page -->
<div ng-controller="ImagesController">

  <span class="page-header">
    <h1 class="page-header-left">Images <a href="/dockerapi/images/json" target="_blank"><img src="static/img/json-logo.png" height="32"></a></h1>

    <!-- Display search form in the right -->
    <div class="page-header-right input-group">
      <input type="text" class="form-control" placeholder="search" ng-model="search" autofocus>
    </div>
  </span> <!-- End of page header -->

  <br/>

  <div ng-show="!images.length" class="alert alert-danger" role="alert">No docker images!</div>

  <!-- Display all images information -->
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>RepoTags</th>
        <th>Created</th>
        <th>VirtualSize</th>
        <th>Operation</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="image in images | filter: search track by $index">
        <td><a ng-href="/images/{{image.Id}}">{{image.Id | limitTo:12}}</a></td> <!-- Shorten image id -->
        <td>{{image.RepoTags | array_to_string}}</td> <!-- Add comma between tags -->
        <td>{{image.Created * 1000 | date:'yyyy-MM-dd'}}</td> <!-- Full time with 'yyyy-MM-dd HH:mm:ss Z' -->
        <td>{{image.VirtualSize | filesize:2}}</td> <!-- Convert to readable size -->
        <td><button class="btn btn-danger" ng-click="deleteImage(image.Id)">Delete</button></td>
      </tr>
    </tbody>
  </table>

</div> <!-- End of this angular page -->
